<div [ngClass]="{'open-sans': font && font === 'open-sans', 'indie-flower': font && font === 'indie-flower'}">
  <div class="margin-top">
    <ngx-spinner bdColor="rgba(197,236,252,0.53)" size="default" color="#8d8d8d"
                 type="line-spin-fade-rotating"></ngx-spinner>
    <app-alert [alert]="voteInfoAlert"></app-alert>
    <app-alert [alert]="voteErrorAlert"></app-alert>
    <div class="row notes">
      <div *ngFor="let note of notes" (click)="toggleVote(note)" class="col-xs-auto note">
        <div class="card" [ngClass]="{'selected': mySelectedNotesText.includes(note.text)}">
          <div class="card-body">
            <p class="card-title">{{note.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
