.card-body {
  padding: 0.75em;
}

.card {
  border-radius: 0.2em;
  cursor: pointer;
  width: 12em;
  height: 12em;
  font-size: 0.9em;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  overflow-y: auto;
}

.card-title, .card-text {
  text-align: center;
}

.card-text {
  background-color: #10707f;
  color: aliceblue;
}

.btn-outline-warning:hover {
  color: #856404;
}
