<div class="container">
  <app-alert [alert]="registerAlert"></app-alert>
  <div class="row margin-top">
    <div class="col-md-auto d-inline-block padding-right-0">
      <div class="d-inline-block center-vertically">Join an existing team:</div>
    </div>
    <div class="col-md-auto d-inline-block">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>
          {{ teamToJoin ? teamToJoin : 'No team selected'}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
          <button *ngFor="let t of app?.teams" class="dropdown-item" (click)="teamToJoin = t.name">{{t.name}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-auto" *ngIf="teamToJoin">
      <button class="btn btn-info" (click)="onJoinTeam()">Join! <i class="fas fa-hand-point-right"></i></button>
    </div>
    <div class="col-md-auto d-inline-block" *ngIf="!showCreateTeam">
      <button class="btn btn-link center-vertically" (click)="showCreateTeam = true">Can't find your team?
      </button>
    </div>
  </div>
  <div *ngIf="showCreateTeam">
    <div class="row">
      <div class="col-md-auto d-inline-block margin-top">
        <div class="div d-inline-block padding-right-1em">Create a new one:</div>
        <input type="text" class="form-control d-inline-block team-input"
               placeholder="Team name" [(ngModel)]="teamToCreateName">
        <input type="number" class="form-control d-inline-block team-input"
               placeholder="Team sprint number" [(ngModel)]="teamToCreateSprint">
        <button class="btn btn-info" (click)="createTeam()"><i class="fas fa-users"></i> Create</button>
      </div>
    </div>
  </div>
</div>
