<div class="old-sprints" *ngIf="!selectedSprint; else showRetro">
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle"></i> Choose an old sprint to view its retro.
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col" *ngFor="let sprint of sprints">
      <button class="btn btn-info card-title" (click)="selectedSprint = sprint">Sprint {{sprint}}</button>
    </div>
  </div>
</div>
<ng-template #showRetro>
  <app-retro [oldSprint]="selectedSprint" (goBack)="selectedSprint = undefined"></app-retro>
</ng-template>
