.note {
  padding: 2rem 0 0 2rem;
}

.card {
  width: 13em;
  height: 13em;
  background-color: cornsilk;
}

.save {
  position: absolute;
  bottom: 0.1em;
  right: 1.8em;
  color: mediumseagreen;
  font-size: 1.5em;
}

.cancel {
  position: absolute;
  bottom: 0.1em;
  right: 0.5em;
  color: indianred;
  font-size: 1.5em;
}

.card-title {
  resize: none;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 10em;
  outline: none;
}

.btn-info:focus {
  box-shadow: none;
}

.show>.btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

.dropdown-item:active {
  background: #117a8b;
  border-bottom-color: #10707f;
}

.team-input::placeholder {
  color: #17a2b8;
}

.form-control:focus {
  box-shadow: none;
}
