<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand cursor-pointer outline-none" routerLink="/">RetroBox</div>
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isRegistered" class="nav-item cursor-pointer">
        <a routerLink="my-notes" routerLinkActive="active" class="nav-link">My Notes</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item cursor-pointer">
        <a routerLink="retro" routerLinkActive="active" class="nav-link">Retro</a>
      </li>
      <li *ngIf="isRegistered" class="nav-item cursor-pointer">
        <a routerLink="old-retros" routerLinkActive="active" class="nav-link">Old Retros</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item cursor-pointer">
        <a routerLink="administration" routerLinkActive="active" class="nav-link">Administration</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div *ngIf="isLoggedIn; else showLogin">
          <div class="nav-link cursor-pointer" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</div>
        </div>
        <ng-template #showLogin>
          <div class="nav-link cursor-pointer" (click)="login()"><i class="fas fa-sign-in-alt"></i> Login</div>
        </ng-template>
      </li>
    </ul>
</nav>
