.btn-primary:focus {
  box-shadow: none;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
  outline: none;
}

.administration {
  margin: 2em;
}

.alert {
  text-align: center;
}
