<div [ngClass]="{'open-sans': font && font === 'open-sans', 'indie-flower': font && font === 'indie-flower'}">
  <div class="row">
    <div class="col retro-title">
      <h3>Sprint {{sprint}}</h3>
    </div>
  </div>
  <app-alert [alert]="noTitleAlert"></app-alert>
  <div class="row">
    <div class="col-md-auto notes-group" *ngFor="let group of groups" [dragula]='"first-bag"'>
      <input type="text" placeholder="Add title..." class="w-100"
             (focusout)="saveGroup(inputTitle)" (keydown.enter)="saveGroup(inputTitle);false"
             #inputTitle value="{{group.group}}">
      <div *ngFor="let note of group.notes">
        <div class="card">
          <div class="card-body">
            <p class="card-title w-100">{{note.text}}</p>
            <p class="card-text">by {{note.by.split(' ')[0]}} at {{note.at}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="oldSprint" class="row">
    <div class="col">
      <button class="btn btn-info float-right margin-1" (click)="goBack.emit()">
        <i class="fas fa-arrow-circle-left"></i> Back
      </button>
    </div>
  </div>
</div>
