<div class="retro">
  <div class="wrapper row">
    <div class="container col-md-auto" *ngFor="let group of notesByGroups" [dragula]='"first-bag"'>
      <input type="text" placeholder="Add title..."
             (focusout)="saveGroup(inputTitle)" (keydown.enter)="saveGroup(inputTitle);false"
             #inputTitle value="{{group.group}}">
      <div *ngFor="let note of group.notes" class="note">
        <div class="card">
          <div class="card-body">
            <p class="card-title">{{note.text}}</p>
            <p class="card-text"><i>by {{note.by.split(' ')[0]}} at {{note.at}}</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
