html, body {
  height: 100%;
  font-family: 'Indie Flower', cursive;
}

.my-notes .card, .grid .card {
  width: 13em;
  height: 13em;
  background-color: cornsilk;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none;
}

.vote-results .ngx-charts-outer.ng-trigger.ng-trigger-animationState {
  width: 100% !important;
}

.vote-results svg {
  width: 100%;
  margin: 2em calc(50% - 500px);
}
