html, body {
  height: 100%;
  font-family: 'Indie Flower', cursive;
}

.my-notes .card, .grid .card {
  width: 13em;
  height: 13em;
  background-color: cornsilk;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none;
}
